h1 {
    font-family: Arial,'Times New Roman';

}
#area {
	width: auto;	
	margin: 0 auto;	
	position: relative;
}

fieldset {
    position:absolute;
      width:15%;
      height:30%;
      background-color: aqua;
      border: solid;
      text-align: left;
      position: relative;

    }
    
legend {
        font-style:bold;
        font-family: 'Segoe UI',”Arial”,'Times New Roman';
      }

label{
color: gray;
}

 input {
    background-color: yellow;
    border-width: 2px;
    
 }

#email, #nome, #uname, #senha, #cpf {
    text-align: center;
    background-color:#f1ff00;
    margin-top: -3px;
    float: right;
    display: inline-block;
 }
 
 #btn_env {
    background-color:#f1ff00;
    float: left;

 }

 #btn_limp {
    background-color:#f1ff00;
    float: right;
 }